*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Khmer OS Battambang",sans-serif;
    background:#e5e5e5;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:300px;
    background:#fff;
    padding:20px;
    border-right:1px solid #ddd;
}

.sidebar h1{
    text-align:center;
    margin-bottom:20px;
}

.sidebar label{
    display:block;
    margin-top:12px;
    margin-bottom:5px;
    font-weight:bold;
}

.sidebar input,
.sidebar textarea,
.sidebar select{
    width:100%;
    padding:8px;
}

.sidebar button{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

#downloadPNG{
    background:#28a745;
}

#downloadPDF{
    background:#dc3545;
}

.preview-wrapper{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:20px;
}

#certificate{
    width:768px;
    height:1086px;

    position:relative;

    background-image:url("ក្រហម.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    box-shadow:0 5px 20px rgba(0,0,0,.25);
}

/* រូបថត 4x6 */
.photo-preview{
    position:absolute;

    width:170px;
    height:255px;

    left:299px;
    top:250px;

    object-fit:cover;

    border:5px solid #fff;
    border-radius:12px;

    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,.35);
}

/* ឈ្មោះ */
.name-preview{
    position:absolute;

    width:100%;

    top:610px;

    text-align:center;

    color:#fff;

    font-size:52px;
    font-weight:bold;

    text-shadow:2px 2px 8px rgba(0,0,0,.6);
}

/* មូលហេតុ */
.reason-preview{
    position:absolute;

    width:80%;

    left:10%;

    top:760px;

    text-align:center;

    color:#fff;

    font-size:28px;

    line-height:1.6;

    text-shadow:2px 2px 8px rgba(0,0,0,.6);
}

/* ក្រុម */
.group-preview{
    position:absolute;

    width:100%;

    top:930px;

    text-align:center;

    color:#fff;

    font-size:36px;
    font-weight:bold;

    text-shadow:2px 2px 8px rgba(0,0,0,.6);
}
